@import "compass/css3/border-radius";
@import "compass/css3/transform";

.progress-circle {
	@include border-radius(50%);

	.mask, .fill {
			position: absolute;
			@include border-radius(50%);
			-webkit-backface-visibility: hidden;
	}

	.inner-circle {
		position:    absolute;
		@include border-radius(50%);
		@include transform-style(preserve-3d);

		.progress-text {
			width: 100%;
			text-align: center;

			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
}

@mixin progress-circle($diameter, $width, $circle-bg, $bg, $progress-color, $progress-font-size, $transition-length) {
	$inner-circle-size: $diameter - 2*$width;

	width:  $diameter;
	height: $diameter;

	background-color: $circle-bg;

	.circle {
		.mask, .fill {
			width:    $diameter;
			height:   $diameter;
			transition: -webkit-transform $transition-length;
			transition: -ms-transform $transition-length;
			transition: transform $transition-length;
		}

		.mask {
			clip: rect(0px, $diameter, $diameter, $diameter/2);

			.fill {
				clip: rect(0px, $diameter/2, $diameter, 0px);
				background-color: $progress-color;
			}
		}
	}
	.inner-circle {
		width: $inner-circle-size;
		height: $inner-circle-size;

		margin-left: ($diameter - $inner-circle-size)/2;
		margin-top:  ($diameter - $inner-circle-size)/2;

		background-color: $bg;

		.progress-text {
			font-size: $progress-font-size;
		}
	}
}